header {
    background-image: url("../img/pattern.png");
    background-color: blue;
}


.logo {
    width: 180px;
    height: 120px;
    margin-top: 20px;
}

.container {
    padding: 10px;
}

.colore {
    background-color: blue;
}

.riga1{
    background-color: aqua;
}

.riga3 {
    background-color: aqua;
}