header {
    background-image: url("../img/pattern.png");
    background-color: blue;
}


.logo {
    width: 180px;
    height: 120px;
    margin-top: 20px;
}

.container {
    padding: 10px;
}

.riga1 {
    background-color: blue;
}

.riga2 {
    background-color: aqua;
}

.riga3 {
    background-color: aqua;
}

.testo {
    background-color: yellow;
}